.add-item-row {
}

.rows {

}

label {
    display: inline-block;
}
#label-image {
    margin-top: 10px;
}
#button-submit {
    margin-top: 10px;
}
.images-upload>input {
    display: none;
}

.images-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;

}

.image-input {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    cursor: pointer;
    background: white;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.image-input-active {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 100px;
    width: 100px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}


.label-add {
    margin-top: 10px;
}

#label-subcategory-invisible {
    display: block;
}

#label-subcategory-visible {
    display: block;
}
