{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Все товары{% endblock %}

{% block styles %}
    <link href="{% static 'items/css/all.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% load russian_slugify %}

{% block content %}
    <div class="col-lg-9">
{#        <h1 class="my-4">#}
{#            {% if category_slug %}#}
{#                <a href="{% url 'items:category' category_slug %}">{{ category_rus }}</a>#}
{#            {% else %}#}
{#                <a href="{% url 'items:all' %}">Все товары</a>#}
{#            {% endif %}#}
{#            {% if subcategory_slug %}#}
{#                >#}
{#                <a href="{% url 'items:subcategory' category_slug subcategory_slug %}">{{ subcategory_rus }}</a>#}
{#            {% endif %}#}
{#        </h1>#}

        <nav aria-label="breadcrumb" class="main-breadcrumb" style="margin-top: 30px;">
            <ol class="breadcrumb">
                {% if category_slug %}
                  <li class="breadcrumb-item"><a href="{% url 'items:category' category_slug %}">{{ category_rus }}</a></li>
                    {% else %}
                  <li class="breadcrumb-item active"><a href="{% url 'items:all' %}">Все товары</a></li>
                {% endif %}
                {% if subcategory_slug %}
                  <li class="breadcrumb-item active"><a href="{% url 'items:subcategory' category_slug subcategory_slug %}">{{ subcategory_rus }}</a></li>
                {% endif %}
            </ol>
        </nav>

        <div class="row">
          {% if items %}
              {% for item in items %}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card-sl">
                  {% if item.image_1 %}
                      {% if item.subcategory %}
                        <a href="{% url 'items:show_item' item.category.category_name|russian_slugify item.subcategory.subcategory_name|russian_slugify item.slug item.id %}">
                         <div class="card-image">
                            <img class="card-img-top" src="{{ MEDIA_ROOT }}{{ item.image_1.url }}" alt="">
                         </div>
                        </a> <!-- 700x400 -->
                      {% else %}
                        <a href="{% url 'items:show_item_other' item.category.category_name|russian_slugify item.slug item.id %}">
                         <div class="card-image">
                            <img class="card-img-top" src="{{ MEDIA_ROOT }}{{ item.image_1.url }}" alt="">
                         </div>
                        </a> <
                      {% endif %}
                  {% endif %}
                <div class="card-heading">
                    {% if item.subcategory %}
                        <a href="{% url 'items:show_item' item.category.category_name|russian_slugify item.subcategory.subcategory_name|russian_slugify item.slug item.id %}">{{ item.title }}</a>
                    {% else %}
                        <a href="{% url 'items:show_item_other' item.category.category_name|russian_slugify item.slug item.id %}">{{ item.title }}</a>
                    {% endif %}
                </div>
                  <div class="card-text text-center">
                    <p class="h3">{{ item.cost|floatformat }} р. / {{ item.period }}</p>
                  </div>
                  <div class="card-footer">
                      <div>{{ item.user.profile.rating }}<i class="fas fa-star checked"></i></div>
                      <a href="{% url 'account:user_detail' item.user.username %}">{{ item.user.first_name }}</a>
                  </div>
                <a href="#" class="card-button"> Арендовать</a>
                </div>
              </div>
              {% endfor %}
          {% else %}
              <p>Товары куда-то подевались. Надеемся, это ненадолго.</p>
          {% endif %}


        </div>
        <!-- /.row -->
        {% include 'items/pagination.html' with page=items %}
    </div>

{% endblock %}