{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Все товары{% endblock %}

{% load russian_slugify %}

{% block content %}
<div class="col-lg-9">
        <h1 class="my-4">
            {% if category_slug %}
                <a href="{% url 'items:category' category_slug %}">{{ category_rus }}</a>
            {% else %}
                <a href="{% url 'items:all' %}">Все товары</a>
            {% endif %}
            {% if subcategory_slug %}
                >
                <a href="{% url 'items:subcategory' category_slug subcategory_slug %}">{{ subcategory_rus }}</a>
            {% endif %}
        </h1>

        <div class="row">
          {% if items %}
              {% for item in items %}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  {% if item.image_1 %}
                      {% if item.subcategory %}
                        <a href="{% url 'items:show_item' item.category.category_name|russian_slugify item.subcategory.subcategory_name|russian_slugify item.slug item.id %}"><img class="card-img-top" src="{{ MEDIA_ROOT }}{{ item.image_1.url }}" alt=""></a> <!-- 700x400 -->
                      {% else %}
                        <a href="{% url 'items:show_item_other' item.category.category_name|russian_slugify item.slug item.id %}"><img class="card-img-top" src="{{ MEDIA_ROOT }}{{ item.image_1.url }}" alt=""></a> <
                      {% endif %}
                  {% endif %}
                  <div class="card-body">
                    <h4 class="card-title">
                        {% if item.subcategory %}
                            <a href="{% url 'items:show_item' item.category.category_name|russian_slugify item.subcategory.subcategory_name|russian_slugify item.slug item.id %}">{{ item.title }}</a>
                        {% else %}
                            <a href="{% url 'items:show_item_other' item.category.category_name|russian_slugify item.slug item.id %}">{{ item.title }}</a>
                        {% endif %}
                    </h4>
                    <h5>{{ item.cost }} р. / {{ item.period }}</h5>
                  </div>
                  <div class="card-footer">
                      <div>{{ item.user.profile.rating }}<i class="fas fa-star checked"></i></div>
                      <a href="{% url 'account:user_detail' item.user.username %}">{{ item.user.first_name }}</a>
                  </div>
                </div>
              </div>
              {% endfor %}
          {% else %}
              <p>Товары куда-то подевались. Надеемся, это ненадолго.</p>
          {% endif %}


        </div>
        <!-- /.row -->
        {% include 'items/pagination.html' with page=items %}
      </div>

{% endblock %}