{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Все товары{% endblock %}


{% block content %}
<div class="col-lg-9">
        <h1 class="my-4">
            {% if category == 'electronic' %}
                 Электроника
            {% elif category == 'instruments' %}
                Инструменты
            {% elif category == 'house' %}
                Для дома
            {% elif category == 'transport' %}
                Средства передвижения
            {% elif category == 'wear' %}
                Одежда, обувь
            {% elif category == 'furniture' %}
                Мебель
            {% elif category == 'kids' %}
                Детские товары
            {% elif category == 'other' %}
                Прочее
            {% else %}
                Все товары
            {% endif %}
        </h1>

        <div class="row">
          {% if items %}
              {% for item in items %}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  {% if item.image %}
                    <a href="{% url 'items:item_detail' item.category item.slug item.id %}"><img class="card-img-top" src="{{ item.image.url }}" alt=""></a> <!-- 700x400 -->
                  {% endif %}
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="{% url 'items:item_detail' item.category item.slug item.id %}">{{ item.title }}</a>
                    </h4>
                    <h5>{{ item.cost }} р. / {{ item.period }}</h5>
                  </div>
                  <div class="card-footer">
                      <div>{{ item.user.profile.rating }}<i class="fas fa-star checked"></i></div>
                      <a href="{% url 'account:user_detail' item.user.username %}">{{ item.user.first_name }}</a>
                  </div>
                </div>
              </div>
              {% endfor %}
          {% else %}
              <p>Товары куда-то подевались. Надеемся, это ненадолго.</p>
          {% endif %}


        </div>
        <!-- /.row -->
        {% include 'items/pagination.html' with page=items %}
      </div>

{% endblock %}