{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
    <div class="col-lg-9">
        <div class = "container">
            <h3 class = "my-4">{{ item.title }}</h3><br>
            <p class = "lead">{{ item.text }}</p><br>
            <p class = "lead">{{ item.cost }} р.</p><br>
            <p class = "lead">{{ item.date }}</p><br>
            <p class = "lead">{{ item.rating }}</p><br>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}