{% extends 'main/layout.html' %}
{% load static %}

{% load russian_slugify %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
    <div class="col-lg-9">
        <div class = "container">
            <div class = 'item-title'>
                {% if item.subcategory %}
                    <a href="{% url 'items:show_item' item.category.category_name|russian_slugify item.subcategory.subcategory_name|russian_slugify item.slug item.id %}">
                {% else %}
                     <a href="{% url 'items:show_item_other' item.category.category_name|russian_slugify item.slug item.id %}">
                {% endif %}
                <h3 class = "my-4">{{ item.title }}</h3>
                </a>
                <h3 class = "my-4">{{ item.cost }} р. / {{ item.period }}</h3>
            </div>
            <div class="item-title">
                <div>
                    <p>Опубликовано: {{ item.date }}</p>
                </div>
                <div>
                    {{ item.user.profile.rating }}<i class="fas fa-star checked"></i>
                    <a href="{% url 'account:user_detail' item.user.username %}">{{ item.user.first_name }}</a>
                </div>
            </div>

            {% if item.image_1 %}
                <img src="{{ item.image_1.url }}" alt="{{ item.title }}" class="img-fluid">
            {% endif %}
            <p class = "shadow-lg p-3 text-dark">{{ item.text }}</p><br>
            <button type="button" class="btn btn-primary btn-lg btn-block">Написать сообщение</button>
            <button type="button" class="btn btn-success btn-lg btn-block">Узнать номер телефона</button>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}