{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Мои аренды{% endblock %}

{% block styles %}
    <link href="{% static 'items/css/all.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% load russian_slugify %}

{% block content %}
<div class="col-lg-12">
{% if items %}
    <h3 class="my-4">Вы выставили {{ count }} объявлений об аренде</h3>
    <a href="{% url 'items:all_rents' %}"><button class="btn btn-success margin-auto" style="margin-bottom: 15px;">Посмотреть все</button></a>
{% else %}
    <h3 class="my-4">У вас еще нет объявлений об аренде</h3>
{% endif %}
        <div class="row">
          {% if items %}
              {% for item in items %}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card-sl">
                  {% if item.image_1 %}
                      {% if item.subcategory %}
                        <a href="{% url 'items:show_item' item.category.category_name|russian_slugify item.subcategory.subcategory_name|russian_slugify item.slug item.id %}">
                         <div class="card-image">
                            <img class="card-img-top" src="{{ MEDIA_ROOT }}{{ item.image_1.url }}" alt="">
                         </div>
                        </a> <!-- 700x400 -->
                      {% else %}
                        <a href="{% url 'items:show_item_other' item.category.category_name|russian_slugify item.slug item.id %}">
                         <div class="card-image">
                            <img class="card-img-top" src="{{ MEDIA_ROOT }}{{ item.image_1.url }}" alt="">
                         </div>
                        </a> <
                      {% endif %}
                  {% endif %}
                <div class="card-heading">
                        {% if item.subcategory %}
                            <a href="{% url 'items:show_item' item.category.category_name|russian_slugify item.subcategory.subcategory_name|russian_slugify item.slug item.id %}">{{ item.title }}</a>
                        {% else %}
                            <a href="{% url 'items:show_item_other' item.category.category_name|russian_slugify item.slug item.id %}">{{ item.title }}</a>
                        {% endif %}
                </div>
                  <div class="card-text text-center">
                    <p class="h3">{{ item.cost }} р. / {{ item.period }}</p>
                  </div>
                  <div class="card-footer">
                      <div>{{ item.user.profile.rating }}<i class="fas fa-star checked"></i></div>
                      <a href="{% url 'account:user_detail' item.user.username %}">{{ item.user.first_name }}</a>
                  </div>
                <a href="{% url 'items:edit_item' item.category.category_name|russian_slugify item.subcategory.subcategory_name|russian_slugify item.slug item.id %}" class="card-button"> Редактировать</a>
                </div>
              </div>
              {% endfor %}
{#          {% else %}#}
{#              <p class="my-4">К сожалению, ничего не удалось найти по этому запросу.</p>#}
          {% endif %}


        </div>
        <!-- /.row -->
        {% include 'items/pagination.html' with page=items %}
      </div>

{% endblock %}