<ul class = "pagination">

    {% if page.number > 4 %}
        <li class="page-item">
            {% if category_slug == None %}
                <a href = "{% url 'items:all_page' 1 %}" class="page-link"><<</a>
            {% else %}
                {% if subcategory_slug %}
                    <a href = "{% url 'items:subcategory_page' category_slug subcategory_slug 1 %}" class="page-link"><<</a>
                {% else %}
                    <a href = "{% url 'items:category_page' category_slug 1 %}" class="page-link"><<</a>
                {% endif %}
            {% endif %}
        </li>
    {% endif %}

    {% for n in page.paginator.page_range %}
        {% if n > page.number|add:-4 and n < page.number|add:4 %}
            <li class = "page-item {% if n == page.number %}active{% endif %}">
                {% if category_slug == None %}
                    <a href = "{% url 'items:all_page' n %}" class="page-link">{{ n }}</a>
                {% else %}
                    {% if subcategory_slug %}
                        <a href = "{% url 'items:subcategory_page' category_slug subcategory_slug n %}" class="page-link">{{ n }}</a>
                    {% else %}
                        <a href = "{% url 'items:category_page' category_slug n %}" class="page-link">{{ n }}</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}

    <li class = "page-item">
        {% if page.number != page.paginator.num_pages %}
            {% if category_slug == None %}
                <a href = "{% url 'items:all_page' page.paginator.num_pages %}" class="page-link">>></a>
            {% else %}
                {% if subcategory_slug %}
                    <a href = "{% url 'items:subcategory_page' category_slug subcategory_slug page.paginator.num_pages %}" class="page-link">>></a>
                {% else %}
                    <a href = "{% url 'items:category_page' category_slug page.paginator.num_pages %}" class="page-link">>></a>
                {% endif %}
            {% endif %}
        {% endif %}
    </li>
</ul>