{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Выход из аккаунта{% endblock %}

{% block styles %}
    <link href="{% static 'account/css/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class = "col-lg-12 logout">
        <div class="wrapper" id="formContent">
            <h4 class="text-lg-center logout_title">Вы вышли из аккаунта</h4>
            <div class="logout_text">
                <div class="nav-item"><a class="nav-link" href = "{% url 'account:login' %}"><button class="btn btn-success">Войти в аккаунт</button></a></div>
                <div class="nav-item"><a class="nav-link" href = "{% url 'account:register' %}"><button class="btn btn-info">Регистрация</button></a></div>
            </div>
        </div>
    </div>
{% endblock %}