{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Войти в аккаунт{% endblock %}

{% block content %}
    <div class="col-lg-9">
        <div class="justify-content-center"><br>
            <form method="post">
                {% csrf_token %}
                <p class = "my-auto">Ваш логин:</p>
                {{ form.nickname }}<br>
                <p class = "my-auto">Пароль:</p>
                {{ form.password }}<br>
                <button type = "submit" class = "btn btn-success">Войти</button><br><br>
            </form>
        </div>
    </div>
{% endblock %}