{% load static %}
<!doctype html>
<html lang=ru>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <a href ="/"><h1>Непокупайэто</h1></a>
    <a href = "/catalog"><h1>Каталог</h1></a>
    {% block content %}

    {% endblock %}
</body>
</html>