{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'main/css/shop-homepage.css' %}" rel="stylesheet">

  <!-- Styles.css -->
  <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">

  <!-- Left side -->
  <link rel="stylesheet" href="{% static 'main/css/aside.css' %}">

  <!-- icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

  {% block styles %}{% endblock %}

</head>
<style>
body {
    padding-top: 56px;
}
</style>
<body>
<br>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main:index' %}">Непокупайэто</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <nav class="navbar navbar-light bg-dark">
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="text" placeholder="Поиск">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Найти</button>
          </form>
        </nav>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main:index' %}">Главная
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gps">Ваш город <i class="fas fa-city"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'items:add' %}">Сдать в аренду <i class="fas fa-plus-square"></i></a>
          </li>
          <li class="nav-item">
            {% if request.user.is_authenticated %}
              <a class="nav-link" href="{% url 'account:dashboard' %}">Мой профиль <i class="fas fa-user"></i></a>
            {% else %}
              <a class="nav-link" href="{% url 'account:login' %}">Войти <i class="fas fa-sign-in-alt"></i></a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">



    {% if aside == True %}
        {% include "aside.html" %}
    {% endif %}
      <!-- /.col-lg-3 -->
        {% include "account/notifications.html" %}
      {% block content %}


      {% endblock %}
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Непокупайэто.рф - сайт, где вы можете безопасно и недорого взять или сдать товар в аренду.</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'main/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'main/js/aside.js' %}"></script>
</body>

</html>
