{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
    <link href="{% static 'items/css/all.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% load russian_slugify %}

{% block content %}
<div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
{#          <ol class="carousel-indicators">#}
{#            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="carousel_slide active"></li> <!-- 950x400 -->#}
{#            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="carousel_slide"></li>#}
{#            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="carousel_slide"></li>#}
{#          </ol>#}
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" srcset="{% static 'main/images/carousel_2.png' %} 1024w, {% static 'main/images/carousel_1_m.png' %} 100w" src="{% static 'main/images/carousel_1_m.png' %}" alt="First slide">
            </div>
{#            <div class="carousel-item">#}
{#              <img class="d-block img-fluid" src="{% static 'main/images/carousel_2.png' %}" alt="Second slide">#}
{#            </div>#}
{#            <div class="carousel-item">#}
{#              <img class="d-block img-fluid" src="{% static 'main/images/carousel_3.png' %}" alt="Third slide">#}
{#            </div>#}
          </div>
{#          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">#}
{#            <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#            <span class="sr-only">Назад</span>#}
{#          </a>#}
{#          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">#}
{#            <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#            <span class="sr-only">Вперед</span>#}
{#          </a>#}
        </div>

        <div class="row">
          {% if items %}
              {% for item in items %}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card-sl">
                  {% if item.image_1 %}
                      {% if item.subcategory %}
                        <a href="{% url 'items:show_item' item.category.category_name|russian_slugify item.subcategory.subcategory_name|russian_slugify item.slug item.id %}">
                         <div class="card-image">
                            <img class="card-img-top" src="{{ MEDIA_ROOT }}{{ item.image_1.url }}" alt="">
                         </div>
                        </a> <!-- 700x400 -->
                      {% else %}
                        <a href="{% url 'items:show_item_other' item.category.category_name|russian_slugify item.slug item.id %}">
                         <div class="card-image">
                            <img class="card-img-top" src="{{ MEDIA_ROOT }}{{ item.image_1.url }}" alt="">
                         </div>
                        </a> <
                      {% endif %}
                  {% endif %}
                <div class="card-heading">
                    {% if item.subcategory %}
                        <a href="{% url 'items:show_item' item.category.category_name|russian_slugify item.subcategory.subcategory_name|russian_slugify item.slug item.id %}">{{ item.title }}</a>
                    {% else %}
                        <a href="{% url 'items:show_item_other' item.category.category_name|russian_slugify item.slug item.id %}">{{ item.title }}</a>
                    {% endif %}
                </div>
                  <div class="card-text text-center">
                    <p class="h4">{{ item.cost|floatformat }} р. / {{ item.period }}</p>
                  </div>
                  <div class="card-footer">
                      <div>{{ item.user.profile.rating }}<i class="fas fa-star checked"></i></div>
                      <a href="{% url 'account:user_detail' item.user.username %}">{{ item.user.first_name }}</a>
                  </div>
                {% if item.subcategory %}
                    <a class="card-button" href="{% url 'items:show_item' item.category.category_name|russian_slugify item.subcategory.subcategory_name|russian_slugify item.slug item.id %}">Арендовать</a>
                {% else %}
                    <a class="card-button" href="{% url 'items:show_item_other' item.category.category_name|russian_slugify item.slug item.id %}">Арендовать</a>
                {% endif %}
                </div>
              </div>
              {% endfor %}
          {% else %}
              <p>Товары куда-то подевались. Надеемся, это ненадолго.</p>
          {% endif %}
        </div>


        </div>
        <!-- /.row -->

      </div>
{% endblock %}