{% load russian_slugify %}
<div class="col-lg-3">
    <h1 class="my-4"><a href ="{% url 'main:catalog' %}">Категории</a></h1>
    <div class="list-group">
        <a href="{% url 'items:all' %}" class="list-group-item"><i class="fas fa-globe-americas"></i>  ВСЕ ТОВАРЫ</a>
        <a class="list-group-item" type="button" onclick="toggle_visibility('dropdown-electronic')">
            <i class="fas fa-atom"></i>
            Электронные устройства
        </a>
        <div class="dropdown-shift" id="dropdown-electronic">
            <a class="list-group-item" href="{% url 'items:category' 'elektronika' %}"><strong>Вся электроника</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'elektronika' 'audio-video-tehnika' %}"><strong>Аудио, видео</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'elektronika' 'igryi-pristavki-programmyi' %}"><strong>Игры, приставки, программы</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'elektronika' 'kuhonnaya-tehnika' %}"><strong>Кухонная техника</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'elektronika' 'kompyuternaya-tehnika' %}"><strong>Компьютерная техника</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'elektronika' 'drugaya-elektronika'%}"><strong>Другая электроника</strong></a>
        </div>

         <a class="list-group-item" type="button" onclick="toggle_visibility('dropdown-house')">
            <i class="fas fa-home"></i>
            Недвижимость
        </a>
        <div class="dropdown-shift" id="dropdown-house">
            <a class="list-group-item" href="{% url 'items:subcategory' 'nedvizhimost' 'kvartiryi' %}"><strong>Квартиры</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'nedvizhimost' 'doma' %}"><strong>Дома</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'nedvizhimost' 'garazhi' %}"><strong>Гаражи</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'nedvizhimost' 'kommercheskaya-nedvizhimost' %}"><strong>Коммерческая недвижимость</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'nedvizhimost' 'drugaya-nedvizhimost' %}"><strong>Другая недвижимость</strong></a>
        </div>

        <a class="list-group-item" type="button" onclick="toggle_visibility('dropdown-transport')">
            <i class="fas fa-car"></i>
            Средства передвижения
        </a>
        <div class="dropdown-shift" id="dropdown-transport">
            <a class="list-group-item" href="{% url 'items:subcategory' 'sredstva-peredvizheniya' 'elektrosamokatyi' %}"><strong>Электросамокаты</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'sredstva-peredvizheniya' 'mototehnika' %}"><strong>Мототехника</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'sredstva-peredvizheniya' 'velosipedyi' %}"><strong>Велосипеды</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'sredstva-peredvizheniya' 'drugoe' %}"><strong>Другое</strong></a>
        </div>

        <a class="list-group-item" type="button" onclick="toggle_visibility('dropdown-instruments')">
            <i class="fas fa-tools"></i>
            Инструменты
        </a>
        <div class="dropdown-shift" id="dropdown-instruments">
            <a class="list-group-item" href="{% url 'items:subcategory' 'instrumentyi' 'instrumentyi-dlya-avtomobilej' %}"><strong>Инструменты для автомобилей</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'instrumentyi' 'elektroinstrumentyi' %}"><strong>Электроинструменты</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'instrumentyi' 'ruchnyie-instrumentyi' %}"><strong>Ручные инструменты</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'instrumentyi' 'drugoe' %}"><strong>Другое</strong></a>
        </div>

        <a class="list-group-item" type="button" onclick="toggle_visibility('dropdown-wear')">
            <i class="fas fa-tshirt"></i>
            Одежда, обувь
        </a>
        <div class="dropdown-shift" id="dropdown-wear">
            <a class="list-group-item" href="{% url 'items:subcategory' 'odezhda-obuv' 'zhenskaya-odezhda' %}"><strong>Женская одежда</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'odezhda-obuv' 'muzhskaya-odezhda' %}"><strong>Мужская одежда</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'odezhda-obuv' 'detskaya-odezhda' %}"><strong>Детская одежда</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'odezhda-obuv' 'kostyumyi' %}"><strong>Костюмы</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'odezhda-obuv' 'obuv' %}"><strong>Обувь</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'odezhda-obuv' 'drugoe' %}"><strong>Другое</strong></a>
        </div>

        <a class="list-group-item" type="button" onclick="toggle_visibility('dropdown-furniture')">
            <i class="fas fa-bed"></i>
            Мебель
        </a>
        <div class="dropdown-shift" id="dropdown-furniture">
            <a class="list-group-item" href="{% url 'items:subcategory' 'mebel' 'stolyi' %}"><strong>Столы</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'mebel' 'stulya-taburetyi-i-kresla' %}"><strong>Стулья, табуреты и кресла</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'mebel' 'gamaki' %}"><strong>Гамаки</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'mebel' 'drugaya-mebel' %}"><strong>Другое</strong></a>
        </div>

        <a class="list-group-item" type="button" onclick="toggle_visibility('dropdown-kids')">
            <i class="fas fa-baby"></i>
            Детские товары
        </a>
        <div class="dropdown-shift" id="dropdown-kids">
            <a class="list-group-item" href="{% url 'items:subcategory' 'detskie-tovaryi' 'avtokresla' %}"><strong>Автокресла</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'detskie-tovaryi' 'kolyaski-i-perenoski' %}"><strong>Коляски и переноски</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'detskie-tovaryi' 'detskaya-mebel' %}"><strong>Детская мебель</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'detskie-tovaryi' 'igrushki' %}"><strong>Игрушки</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'odezhda-obuv' 'detskaya-odezhda' %}"><strong>Детская одежда</strong></a>
            <a class="list-group-item" href="{% url 'items:subcategory' 'detskie-tovaryi' 'drugoe' %}"><strong>Другое</strong></a>
        </div>

        <a class="list-group-item" type="button" href="{% url 'items:category' 'raznoe' %}">
            <i class="fas fa-align-justify"></i>
            Разное
        </a>

    </div>
</div>