<div class="col-lg-3">
        <h1 class="my-4"><a href ="{% url 'main:catalog' %}">Категории</a></h1>
        <div class="list-group">
          <a href="{% url 'items:all' %}" class="list-group-item"><i class="fas fa-globe-americas"></i>  ВСЕ ТОВАРЫ</a>
          <a href="{% url 'items:category' 'electronic' %}" class="list-group-item"><i class="fas fa-atom"></i>  Электронные устройства</a>
          <a href="{% url 'items:category' 'transport' %}" class="list-group-item"><i class="fas fa-car"></i>  Средства передвижения</a>
          <a href="{% url 'items:category' 'instruments' %}" class="list-group-item"><i class="fas fa-tools"></i>  Инструменты</a>
          <a href="{% url 'items:category' 'wear' %}" class="list-group-item"><i class="fas fa-tshirt"></i> Одежда, обувь</a>
          <a href="{% url 'items:category' 'kids' %}" class="list-group-item"><i class="fas fa-baby"></i>  Детские товары</a>
          <a href="{% url 'items:category' 'other' %}" class="list-group-item"><i class="fas fa-align-justify"></i>  Разное</a>
        </div>
</div>