.profile {
    display: flex;
}

#dashboard {
    margin-top: 20px;
    margin-bottom: 20px;
}

.avatar-img {
    vertical-align: middle;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    image-rendering: -webkit-optimize-contrast;
}

.avatar {
    display: flex;
    flex-flow: column;
    object-fit: cover;
}

#upload_photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}